// COLORS

:root {
  --color-primary: #1652f0;
  --color-white: #fff;
  --color-grey-light-1: #fcfbfe;
  --color-grey-light-2: #c1c1c3;
  --color-grey-light-3: #ececec;
  --color-danger: #ff0103;
  --color-grey-dark-2: #777;
  --color-dark: #000;
}
